# Training and Testing an MDRNN on Human Data

This script trains and tests a mixture density recurrent neural network (MDRNN) on a 10-minute human sourced performance.

In [1]:
%matplotlib inline
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import time
import sketch_mdn

In [45]:
# Import CSV and create dt 
perf_df = pd.DataFrame.from_csv('./data/2018-01-25T14-04-35-rnnbox.csv', parse_dates=True)
perf_df['time'] = perf_df.index
perf_df.time = perf_df.time.diff()
perf_df.time = perf_df.time.dt.total_seconds()
perf_df = perf_df.dropna()
perf_df.describe()

              value          time
count  13561.000000  13561.000000
mean     132.358307      0.044860
std       63.534791      0.183995
min        0.000000      0.000454
25%       89.000000      0.007978
50%      134.000000      0.013049
75%      182.000000      0.028018
max      255.000000      8.463944

              value          time
count  13561.000000  13561.000000
mean     132.358307      0.044860
std       63.534791      0.183995
min        0.000000      0.000454
25%       89.000000      0.007978
50%      134.000000      0.013049
75%      182.000000      0.028018
max      255.000000      8.463944

In [37]:
perf_df.time[1].total_seconds()

0.002624

In [36]:
perf_df.index[0].total_seconds()

AttributeError: 'Timestamp' object has no attribute 'total_seconds'